.env
config.py
*.pyc
.chroma
__pycache__
.pytest_cache
gdrive-service-account.json
secrets.toml
manual-tests
datatest
datatest2
.streamlit
*.faiss
*.pkl
lib
*.html
*.whl
src/notebooks/storage_graph/docstore.json
src/notebooks/storage_graph/index_store.json
src/notebooks/storage_graph/vector_store.json
